<div class="student-management-container">

    <div class="page-header">
        <h2>
            🎓 <span>Student Access Management</span>
            <small>({{ studentName | uppercase }})</small>
        </h2>
        <h5>

            <!-- <small>({{studentId}})</small> -->
        </h5>

    </div>


    <div class="table-responsive">
        <table class="student-table">
            <thead>
                <tr>
                    <th>Section ID</th>
                    <th>Section Title</th>
                    <th>Access Status</th>
                    <th>Section Cost (₹)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let section of courseSections">
                    <td>{{ section._id }}</td>
                    <td>{{ section.sectionName }}</td>
                    <td>
                        <button class="action-btn update-btn" [ngClass]="section.accessGranted ? 'active' : 'inactive'"
                            (click)="toggleAccess(section)">
                            {{ section.accessGranted ? 'Revoke Access' : 'Grant Access' }}
                        </button>
                    </td>
                    <td>{{ section.sectionCost }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>